CouchDB==1.1
-e git+https://kelertxiki@bitbucket.org/kelertxiki/estropadak-lxml.git@d9afd0d50d31961509f1d1962797be0c8bf8e136#egg=EstropadakParser-origin/develop
Flask==0.11.1
Flask-Cors==3.0.2
Flask-RESTful==0.3.5
Flask-SocketIO==2.8.2
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.11
amqp==2.1.4
aniso8601==1.2.0
attrs==17.3.0
billiard==3.5.0.2
celery==4.0.2
click==6.6
enum-compat==0.0.2
eventlet==0.20.1
greenlet==0.4.12
itsdangerous==0.24
kombu==4.0.2
pluggy==0.6.0
py==1.5.2
pytest==3.3.1
python-dateutil==2.6.0
python-engineio==1.1.2
python-socketio==1.6.3
pytz==2016.10
six==1.10.0
vine==1.1.3
